# virtual environment
.venv

# local package
*.egg-info/
**/*__pycache__
! uv.lock # keep lock file

# env
**/*.env
! **/*.env.example # keep example env file

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
**/.ipynb_checkpoints